<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blog.BlogCollectDao">

    <update id="update" parameterType="BlogCollect">
        UPDATE blog_collect
        <set>
            <if test="blogId != null">
                blog_id=#{blogId},
            </if>
            <if test="collectorId != null">
                collector_id=#{collectorId},
            </if>
            reason=#{reason},
            category_id=#{categoryId},
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="updateByUnique">
        UPDATE blog_collect
        <set>
            <if test="category != null">
                category_id=#{category},
            </if>
            <if test="reason != null">
                reason=#{reason},
            </if>
        </set>
        <where>
            collector_id=#{bloggerId} AND blog_id=#{blogId}
        </where>
    </update>

    <delete id="delete">
        DELETE FROM blog_collect
        WHERE id = #{value}
    </delete>

    <delete id="deleteCollectByBloggerId">
        DELETE FROM blog_collect
        WHERE blog_id = #{blogId} AND collector_id = #{bloggerId}
    </delete>

    <select id="listCollectBlog" resultType="BlogCollect">
        SELECT *
        FROM blog_collect
        WHERE collector_id = #{bloggerId} AND category_id = #{category}
        LIMIT #{offset}, #{rows}
    </select>

    <select id="listAllCollectByBlogId" resultType="BlogCollect">
        SELECT *
        FROM blog_collect
        WHERE blog_id = #{value}
    </select>

    <select id="countByCollectorId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM blog_collect
        WHERE collector_id = #{value}
    </select>

    <select id="getCollect" resultType="BlogCollect">
        SELECT *
        FROM blog_collect
        WHERE blog_id = #{blogId} AND collector_id = #{bloggerId}
    </select>

    <select id="listAllIdByBloggerId" resultType="BlogCollect">
        SELECT blog_id
        FROM blog_collect
        WHERE collector_id = #{value}
    </select>

    <insert id="insert" parameterType="BlogCollect" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blog_collect (
        blog_id,
        collector_id,
        reason,
        collect_date,
        category_id
        ) VALUE (
        #{blogId},
        #{collectorId},
        #{reason},
        NOW(),
        #{categoryId}
        )
    </insert>

</mapper>