<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blog.BlogCommentDao">

    <select id="listCommentByBlogId" resultType="BlogComment">
        SELECT *
        FROM blog_comment
        WHERE blog_id = #{blogId} AND state = #{status}
        ORDER BY release_date
        LIMIT #{offset}, #{rows}
    </select>

    <select id="listAllCommentByBlogId" resultType="BlogComment">
        SELECT *
        FROM blog_comment
        WHERE blog_id = #{value}
    </select>

    <update id="update" parameterType="BlogComment">
        UPDATE blog_comment
        <set>
            <if test="blogId != null">
                blog_id=#{blogId},
            </if>
            <if test="spokesmanId != null">
                spokesman_id=#{spokesmanId},
            </if>
            <if test="listenerId != null">
                listener_id=#{listenerId},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="releaseDate != null">
                release_date=#{releaseDate},
            </if>
            <if test="state != null">
                state=#{state}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <insert id="insert" parameterType="BlogComment" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blog_comment (
        blog_id,
        spokesman_id,
        listener_id,
        content,
        release_date,
        state
        ) VALUE (
        #{blogId},
        #{spokesmanId},
        #{listenerId},
        #{content},
        NOW(),
        #{state}
        )
    </insert>

    <delete id="delete">
        DELETE FROM blog_comment
        WHERE id = #{value}
    </delete>
</mapper>