<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blog.BlogLabelDao">

    <select id="listLabelById" resultType="BlogLabel">
        SELECT * FROM blog_label l WHERE l.id IN
        <foreach collection="ids"
                 item="item"
                 open="("
                 separator=","
                 close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLabel" resultType="BlogLabel">
        SELECT *
        FROM blog_label
        WHERE id = #{value}
    </select>

    <select id="listLabel" resultType="BlogLabel">
        SELECT *
        FROM blog_label
        LIMIT #{offset}, #{rows}
    </select>

    <select id="listLabelByBloggerId" resultType="BlogLabel">
        SELECT *
        FROM blog_label
        WHERE blogger_id = #{bloggerId}
        LIMIT #{offset}, #{rows}
    </select>

    <select id="countByBloggerId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM blog_label
        WHERE blogger_id = #{value}
    </select>

    <update id="update" parameterType="BlogLabel">
        UPDATE blog_label
        <set>
            <if test="bloggerId != null">
                blogger_id=#{bloggerId},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="createDate != null">
                create_date=#{createDate},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <insert id="insert" parameterType="BlogLabel" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blog_label (
        blogger_id,
        title,
        create_date
        ) VALUE (
        #{bloggerId},
        #{title},
        NOW()
        )
    </insert>

    <delete id="delete">
        DELETE FROM blog_label
        WHERE id = #{value}
    </delete>
</mapper>