<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blog.BlogAdmireDao">

    <update id="update" parameterType="BlogAdmire">
        UPDATE blog_admire
        <set>
            <if test="blogId != null">
                blog_id=#{blogId},
            </if>
            paier_id=#{paierId},
            <if test="money != null">
                money=#{money}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="delete">
        DELETE FROM blog_admire
        WHERE id = #{value}
    </delete>

    <insert id="insert" parameterType="BlogAdmire" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blog_admire (
        blog_id,
        paier_id,
        money,
        tran_date
        ) VALUE (
        #{blogId},
        #{paierId},
        #{money},
        NOW()
        )
    </insert>

</mapper>