.my-nav {
    background-color: white;
    border-bottom: solid 1px #e6e6e6;
}

.search {
    width: 230px;
}

.search-btn {
    cursor: pointer;
}

.search-btn:hover {
    cursor: pointer;
    background-color: lightgray;
    color: black;
}

.quit {
    color: rgba(255, 0, 0, 0.34);
    background-color: transparent;
    border: 0;
    font-size: smaller;
}

.quit:hover {
    color: red;
}

.operation {
    color: dimgray;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: medium;
}

.operation:hover {
    color: #00CBBA;
}

nav > div {
    height: 100px;
}

.line-sperate {
    color: darkgray;
}