.button-upload {
    border: solid 1px lightgray;
    background-color: #efefef;
    padding: 5px 16px;
    cursor: pointer;
}

.button-upload:hover {
    border: solid 1px gray;
    background-color: lightgray;
    padding: 5px 16px;
}

.upload-msg {
    color: darkgray;
}

.avatar-image {
    width: 100px;
    height: 100px;
}