body {
    padding-top: 80px;
    font-family: "Segoe UI Semibold", 微软雅黑, serif;

    background-size: cover;
    background-color: #F9FAFB;

    /*background: url(/images/background.jpg) no-repeat fixed center center;*/
}
