body {
    font-family: "Segoe UI Semibold", 微软雅黑, serif;
    /*font-weight: bold;*/

    background-color: #F9FAFB;
    /*background-size: cover;*/
    /*background: url(/images/background.jpg) no-repeat fixed center center;*/
}

.default-line{
    margin-bottom: 5px;
}