body {
    font-family: "Segoe UI Semibold", 微软雅黑, serif;
    /*font-weight: bold;*/

    background-size: cover;
    background-color: #FFFFFF;
    /*background: url(/images/background.jpg) no-repeat fixed center center;*/
}

a {
    cursor: pointer;
}

.main-content {
    border-radius: 10px;
    box-shadow: 0 0 50px lightgray;
    background-color: white;
    padding: 4% 5%;

    width: 520px;
    height: 430px;
}

.login-input:focus {
    background-color: transparent;
}

.login-input {
    width: 80%;
    height: 50px;
    margin-bottom: 8px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.grid-item-sub {
    width: 300px;
    /*height: 400px;*/
    min-height: 300px;
    padding: 16px 8px;

    background-color: rgba(249, 250, 251, 0.39);

    margin-right: 15px;
    border-radius: 5px;

    border: solid 1px #d5dce2;
    transition: all 0.3s ease-in-out;
}

.grid-item-sub:hover {
    transform: scale(1.02);
    border-radius: 20px;
    background-color: rgb(244, 245, 246);
    box-shadow: 0 0 30px #b4b4b4;
}

.grid-item {
    margin-bottom: 40px;
}

.grid-item-img {
    width: 100%;
    min-height: 160px;
    cursor: pointer;
}

.image-bg {
    width: 100%;
    /*控制外圈大小*/
    padding: 2px;
    box-shadow: 0 0 20px #b4b4b4;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.image-bg:hover {
    /*控制外圈大小*/
    padding: 8px;
}

.grid {
    margin: 0 auto;
}

.user-name {
    color: white;
}

.check-blog {
    border-radius: 10px;
    padding: 4px 13px;
    font-size: x-small;
    border: solid 1px orangered;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: orangered;
}

.check-blog:hover {
    background-color: orangered;
    color: white;
}

.about-me {
    padding: 16px;
    color: gray;
    font-size: 0.9em;
}

.logo {
    width: 160px;
}

.scroll-down:hover {
    opacity: 1;
    transform: scale(1.02);
}

.scroll-down {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    width: 40px;
}