body {
    font-family: "Segoe UI Semibold", 微软雅黑, serif;
    /*font-weight: bold;*/

    background-size: cover;
    background-color: #F9FAFB;
    /*background: url(/images/background.jpg) no-repeat fixed center center;*/
}

a {
    cursor: pointer;
}

.main-content {
    border-radius: 10px;
    box-shadow: 0 0 50px lightgray;
    background-color: white;
    padding: 4% 5%;
    min-width: 500px;
    min-height: 400px;
    margin-right: 30px;
}

.login-input:focus {
    background-color: transparent;
}

.login-input {
    width: 90%;
    height: 50px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.grid-item-sub {
    width: 290px;
    height: 400px;
    background-color: lightgray;
    box-shadow: -3px 3px 10px darkgray;
    margin-right: 20px;
}

.grid-item {
    margin-bottom: 60px;
}
