body {
    font-family: 微软雅黑,华文细黑,"Segoe UI Semibold", serif;

    background-size: cover;
    background-color: #F9FAFB;

    /*background: url(/images/background.jpg) no-repeat fixed center center;*/
}

body img {
    max-width: 100%;
}

a {
    cursor: pointer;
}

.title {
    font-size: 2.4em;

    font-family: 华文中宋, 方正姚体, serif;
    font-weight: bold;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.title-small {
    font-size: 2em;
}

.blog-container {
    background-color: white;
    padding: 32px 10%
}

.blog-author {
    padding: 3px 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
}

.comment {
    margin-bottom: 48px;
}

.input-comment {
    padding: 8px;
    border: solid 1px lightgray;
    width: 100%;
    height: 150px;
}

.oper-item {
    padding: 11px;
}

.sper-bottom {
    border-bottom: solid 1px #e9e9e9;
}

.sper-top {
    border-top: solid 1px #e9e9e9;
}

.blog-content {
    line-height: 30px;
    font-size: 1.2em;
}