body {
    font-family: "Segoe UI Semibold", 微软雅黑, serif;
}


div.con {
    height: 100%;
}

a {
    cursor: pointer;
}

.BLOG-title {
    font-size: 4em;
    font-weight: bolder;
    color: gray;
}

.saying {
    color: white;
}

.register-left {
    padding: 32px 64px;
    background: url("/images/register_left_img.jpg") no-repeat;
    background-size: contain;
}

.step {
    padding: 4px 8px;
    background-color: lightgray;
    color: white;
    border-radius: 20px;
    font-size: small;
}

.step-choose {
    padding: 3px 8px;
    color: white;
    border-radius: 20px;
    background-color: orangered;
    font-size: small;
}

.step-title {
    color: darkgray;
    font-size: small;
}

.step-title-choose {
    color: orangered;
    font-size: small;
}

.form-input {
    max-width: 330px;
}

.form-input:focus {
    border-bottom: solid 2px black;
}

.powered-by {
    font-size: smaller;
    color: gray;
}
