body {
    font-family: "Segoe UI Semibold", 微软雅黑, serif;
    /*font-weight: bold;*/

    background-color: #F9FAFB;
    /*background-size: cover;*/
    /*background: url(/images/background.jpg) no-repeat fixed center center;*/
}

.avatar-img {
    height: 80px;
    width: 80px;
    /*border: solid 5px #f0f0f0;*/
    /*width: 180px;*/
}

.td-title {
    color: darkgray;
    font-size: smaller;
}

.td-top-border {
    border-top: solid 1px #DBE2E8;
}

#mainTable tr {
    padding-top: 5px;
    padding-bottom: 5px;
}

.group .list-group-item {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    border-top: solid 1px #e5edf3;
}

.li-title {
    color: gray;
    display: inline-block;
    font-size: small;
    width: 15%;
}

.main-page-nav-choose {
    border: solid 2px #09B2E3;
}

.shadow-border-for-setting {
    transition: all 0.3s ease-in-out;
}

.shadow-border-for-setting:hover {
    box-shadow: 0 0 30px #d7d7d7;
}