<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blogger.BloggerProfileDao">

    <select id="getProfileByBloggerId" resultType="BloggerProfile">
        SELECT *
        FROM blogger_profile
        WHERE blogger_id = #{value}
    </select>

    <select id="getProfileByPhone" resultType="BloggerProfile">
        SELECT *
        FROM blogger_profile
        WHERE phone = #{value}
    </select>

    <update id="update" parameterType="BloggerProfile">
        UPDATE blogger_profile
        <set>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="avatarId != null">
                avatar_id=#{avatarId},
            </if>
            <if test="aboutMe != null">
                about_me=#{aboutMe},
            </if>
            <if test="intro != null">
                intro=#{intro}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="delete">
        DELETE FROM blogger_profile
        WHERE blogger_id = #{value}
    </delete>

    <insert id="insert" parameterType="BloggerProfile" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blogger_profile (
        blogger_id,
        avatar_id,
        phone,
        email,
        about_me,
        intro
        ) VALUE (
        #{bloggerId},
        #{avatarId},
        #{phone},
        #{email},
        #{aboutMe},
        #{intro}
        )
    </insert>

</mapper>