/*通用*/

.BLOG {
    color: #767676;
    font-family: 华文中宋, serif;
}

.form-input:focus {
    outline: 0;
    font-weight: bold;
}

.form-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 8px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    /*border: 1px solid #CCC !important;*/
}

.default-button-info {
    border: solid 1px gray;
    border-radius: 8px;
    background-color: transparent;
    color: dimgray;
    padding: 3px 6px;
    font-size: small;
}

.default-button-info:hover {
    background-color: dimgray;
    color: white;
}

.button-success:hover {
    background-color: limegreen;
    color: white;
    box-shadow: -3px 3px 10px dimgray;
}

.button-success:active {
    background-color: darkgreen;
    color: white;
    box-shadow: -3px 3px 10px dimgray;
}

.button-success {
    background-color: green;
    color: white;
    padding: 8px 32px;
    border: 0;
    font-size: medium;
    box-shadow: -2px 2px 8px dimgray;

}

.default-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4.default-h4 {
    margin-left: 10px;
    margin-right: 10px;
}

.dialog-title-container {
    background-color: #3478B5;
    color: white;
}

.dialog-title {
    text-align: center;
}

.dialog-body {
    background-color: white;
    color: black;
    padding: 32px;
}

.dialog-footer {
    background-color: white;
    color: black;
    text-align: center;
}

.dialog-title-container-middle {
    background-color: #3478B5;
    color: white;
    width: 120%;
}

.error-msg {
    color: red;
    font-size: medium;
}

.default-textarea {
    width: 100%;
    min-height: 80px;
    border: 0;
    padding: 8px;
}
