/*通用*/

.BLOG {
    color: #767676;
    font-family: 华文中宋, serif;
}

.form-input:focus {
    outline: 0;
    font-weight: bold;
}

.form-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 8px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    /*border: 1px solid #CCC !important;*/
}

.default-button-info {
    border: solid 1px gray;
    border-radius: 8px;
    background-color: transparent;
    color: dimgray;
    padding: 3px 6px;
    font-size: small;
}

.default-button-info:hover {
    background-color: dimgray;
    color: white;
}

.button-success:hover {
    background-color: limegreen;
    color: white;
    box-shadow: -3px 3px 10px dimgray;
}

.button-success:active {
    background-color: darkgreen;
    color: white;
    box-shadow: -3px 3px 10px dimgray;
}

.button-success {
    outline: none;
    background-color: green;
    color: white;
    padding: 8px 32px;
    border: 0;
    font-size: medium;
    box-shadow: -2px 2px 8px dimgray;
}

.button-info:hover {
    background-color: #ebebeb;
    box-shadow: -3px 3px 10px dimgray;
}

.button-info:active {
    background-color: gray;
    box-shadow: -3px 3px 10px dimgray;
}

.button-info {
    outline: none;
    background-color: lightgray;
    color: black;
    padding: 8px 32px;
    border: 0;
    font-size: small;
    box-shadow: -2px 2px 8px dimgray;
}

.default-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4.default-h4 {
    margin-left: 10px;
    margin-right: 10px;
}

.dialog-title-container {
    background-color: dodgerblue;
    color: white;
}

.dialog-title {
    text-align: center;
}

.dialog-body {
    background-color: white;
    color: black;
    padding: 32px;
}

.dialog-footer {
    background-color: white;
    color: black;
    text-align: center;
}

.dialog-title-container-middle {
    background-color: dodgerblue;
    color: white;
    width: 120%;
}

.error-msg {
    color: red;
    font-size: medium;
}

.default-textarea {
    width: 100%;
    min-height: 80px;
    border: 0;
    padding: 8px;
}

#scroll-to-top:hover {
    background: dodgerblue;
    color: white;
    opacity: 1;
}

#scroll-to-top:focus {
    outline: 0;
}

#scroll-to-top {
    position: fixed;
    bottom: 48px;
    right: 48px;

    z-index: 9999;

    width: 48px;
    height: 48px;

    border-radius: 24px;
    padding: 8px;

    text-align: center;
    line-height: 30px;

    background: dimgray;
    color: white;

    cursor: pointer;
    text-decoration: none;
    opacity: 0.4;
    /*transition: opacity .2s ease-out;*/
}
