<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.duan.blogos.manager.AudiencePropertiesManager" name="audiencePropertiesManager">
        <property name="requestBloggerBlogListCount" value="${audience.requestBloggerBlogListCount}"/>
        <property name="urlConditionSplitCharacter" value="${audience.urlConditionSplitCharacter}"/>
        <property name="requestBloggerBlogCommentCount" value="${audience.requestBloggerBlogCommentCount}"/>
    </bean>

    <bean class="com.duan.blogos.manager.DbPropertiesManager" name="dbPropertiesManager">
        <property name="stringFiledSplitCharacterForNumber" value="${db.stringFiledSplitCharacterForNumber}"/>
        <property name="stringFiledSplitCharacterForString" value="${db.stringFiledSplitCharacterForString}"/>
    </bean>

</beans>