<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.duan.blogos.manager.AudiencePropertiesManager" name="audiencePropertiesManager">
        <property name="requestBloggerBlogListCount" value="${audience.requestBloggerBlogListCount}"/>
        <property name="urlConditionSplitCharacter" value="${audience.urlConditionSplitCharacter}"/>
        <property name="requestBloggerBlogCommentCount" value="${audience.requestBloggerBlogCommentCount}"/>
    </bean>

    <bean class="com.duan.blogos.manager.DbPropertiesManager" name="dbPropertiesManager">
        <property name="stringFiledSplitCharacterForNumber" value="${db.stringFiledSplitCharacterForNumber}"/>
        <property name="stringFiledSplitCharacterForString" value="${db.stringFiledSplitCharacterForString}"/>
    </bean>

    <bean class="com.duan.blogos.manager.BloggerPropertiesManager" name="bloggerPropertiesManager">
        <property name="requestBloggerLinkCount" value="${blogger.requestBloggerLinkCount}"/>
    </bean>

    <bean class="com.duan.blogos.manager.DataFillingManager" name="dataFillingManager"/>

    <!--验证管理者-->
    <context:component-scan base-package="com.duan.blogos.manager"/>

</beans>