<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blog.BlogCategoryDao">

    <select id="listCategoryById" resultType="BlogCategory">
        SELECT * FROM blog_category c WHERE c.id IN
        <foreach collection="ids"
                 item="item"
                 open="("
                 separator=","
                 close=")">
            #{item}
        </foreach>
    </select>

    <select id="countCategoryByBloggerIdAndCategoryId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM blog_category
        WHERE blogger_id = #{bloggerId} AND id = #{categoryId};
    </select>

    <update id="update" parameterType="BlogCategory">
        UPDATE blog_category
        <set>
            <if test="bloggerId != null">
                bloggerId=#{bloggerId},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="bewrite != null">
                bewrite=#{bewrite},
            </if>
            <if test="createDate != null">
                createDate=#{createDate}
            </if>
            <where>
                id=#{id}
            </where>

        </set>
    </update>

    <delete id="delete">
        DELETE FROM blog_category
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="BlogCategory">
        INSERT INTO blog_category (
            id,
            blogger_id,
            title,
            bewrite,
            create_date
        ) VALUE (
            NULL,
            #{blogger_id},
            #{title},
            #{bewrite},
            NOW()
        )
    </insert>

</mapper>