<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blogger.BloggerAccountDao">

    <select id="getAccountByName" resultType="BloggerAccount">
        SELECT
            a.id,
            a.username,
            a.register_date,
            a.password
        FROM blogger_account a
        WHERE a.username = #{bloggerName}
    </select>
</mapper>