<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.dao.blog.BlogLabelDao">

    <select id="listLabelById" resultType="BlogLabel">
        SELECT * FROM blog_label l WHERE l.id IN
        <foreach collection="ids"
                 item="item"
                 open="("
                 separator=","
                 close=")">
            #{item}
        </foreach>
    </select>
</mapper>